.a-item {
    line-height   : 30px;
    vertical-align: "middle" !important;
    font-size     : 1.5rem;
    padding-bottom: 10px;
}

.path-arrow {
    line-height   : "30px";
    vertical-align: "middle";
    font-size     : "0.825rem";
}

.button {
    cursor: pointer;
}