.file-info {
    height   : 400px;
    overflow : auto;
    font-size: 20px;
    padding  : 8px
}

.detail-size {

    font-size: 13px;
}

.title-size {

    font-weight: bold;
    color      : black;
    font-size  : 20px;
}

.title {
    font-weight: bold;
    color      : #7B7B7B;
}


.button {
    cursor: pointer;
    font-size: 20px;
}