.folder {
  color: #FFE153;
}

.pdf {
  color: #AE0000;
}

.word {
  color: #0080FF;
}

.excel {
  color: #007500;
}

.ppt {
  color: #FF8000;
}

.csv {
  color: #007500;
}

.alt {
  color: #5E005E;
}

.zip {
  color: #FFE153;
}

.image {
  color: #8E8E8E;
}

.fileIcon {
  font-size   : 24px;
  margin-right: 4px;
  width       : 30px;
}

.cellStyle {
  width         : 300px;
  padding       : 3px 0px;
  text-overflow : ellipsis;
  white-space   : nowrap;
  overflow      : hidden;
  height        : 100%;
  vertical-align: middle;
}

.cellVerAlign-middle {
  vertical-align: middle !important;
}

.hover_cursor:hover{
  cursor: pointer;
}

.contextMenu {
  display   : none;
  position  : fixed;
  background: gray;
  border    : 5px solid black;
}

.button1 {
  cursor: pointer;
}