.settings-container {
  height       : auto;
  border-radius: 15px;

  .main-card {
    margin-top   : 1rem;
    width        : 50%;
    height       : auto;
    border-radius: 15px;
  }

  .edit-password {
    color      : #2828ff;
    font-weight: bold;
    font-size  : 14px;
  }

  .dropzone {
    border          : dotted 1px #D0D0D0;
    border-radius   : 15px;
    background-color: transparent;
    padding         : 40px 0px;
  }

}