
.userVideoContainer {
  position: relative;
  // height: auto;

  .userVideo {
    width: 100%;
    // height: 100%;
  }

  .userNameContainer {
    position: absolute;
    // top: 0;
    left: 0;
    right: 0;
    bottom: 6px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #adadad7a;

    .userNameText {
      color: white;
    }
  }
}

.peerVideoContainer {
  position: relative;
  height: auto;
  margin: 8px;

  .partnerVideo {
    width: 280px;
    // margin: 8px; 
  }

  .peerNameContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6px;
    height: 40px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #adadad7a;

    .peerNameText {
      color: white;
    }
  }
}

.main-card-video {
  margin-top   : 1rem;
  width        : 360px;
  // width        : 35%;
  height       : auto;
  border-radius: 15px;
  margin-bottom: 12px;
}

